.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  z-index: 9999;
  transition: all 0.3s;
}

/* logo */
.logo {
  position: relative;
  width: 125px;
  height: 25px;
  background: url("../images/logo_white.png") no-repeat center;
  background-size: cover;
}
/* 메뉴 */
.nav {
  width: 80%;
  max-width: 900px;
}
.gnb {
  display: flex;
  gap: 34px;
}
.gnb > li {
  width: calc(100% / 7);
}
.gnb > li > a {
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 100px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}
.gnb > li > a > span {
  position: relative;
}
.gnb > li > a > span::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  content: "";
  opacity: 0;
  transition: all 0.5s;
}
.gnb > li > a:hover > span::after {
  width: 100%;
  opacity: 1;
}

/* 헤더 스크롤 시 */
/* 배경 변경 */
.header.active {
  height: 70px;
  box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
}
/* 로고 변경 */
.header.active .logo {
  position: relative;
  width: 125px;
  height: 25px;
  background: url(../images/logo.png) no-repeat center;
  background-size: cover;
}
/* 메뉴 변경 */
.header.active .gnb > li > a {
  color: #222;
}
.header.active .gnb > li > a.active > span::after {
  background-color: #222;
}

/* 모바일 메뉴 버튼 */
.mb-btn {
  display: none;
}

/* 모바일 메뉴*/
.nav-mb {
  /* display: none; */
  position: absolute;
  top: 70px;
  left: 100%;
  width: 100%;
  /* 100vh - header(70px) */
  height: calc(100vh - 70px);
  padding-top: 30px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav-mb-gnb a {
  display: flex;
  align-items: center;
  padding: 15px 70px 15px 40px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
}

/* 클릭시 */
.nav-mb.active {
   left: 0;
   opacity: 1;
}